#section-banner{
  background: url('../images/logged-step/banner.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 175px;
  padding-bottom: 50px;
  h1{
    display: inline-block;
    font-size: 34px;
    color: #fff;
    font-weight: bold;
    background: #31ca62;
    padding: 8px 25px 6px;
    border-radius: 2px;
    margin-bottom: 15px;
  }
  h2{
    font-size: 16px;
    color: #4a7699;
    font-weight: bold;
  }
}

#section-booking-3, #section-booking-45,
#section-booking-6, #section-booking-9,
#section-booking-10, #section-booking-78{
  margin-bottom: 80px;
  .booking-left-menu{
    .booking-left-menu-top{
      border: 1px solid #CFD8DC;
      border-radius: 5px;
      padding: 20px 15px 5px;
      background: #fff;
      margin-bottom: 20px;
      .blmt-name{
        font-size: 14px;
        font-weight: bold;
        color: #3c3c3c;
        margin-bottom: 15px;
        text-transform: uppercase;
      }
      .blmt-info{
        font-size: 14px;
        margin-bottom: 20px;
        color: #696969;
      }
      .mg-bottom-0{
        margin-bottom: 0;
      }
      form{
        padding: 0 15px;
        padding-top: 20px;
        margin: 0 -15px;
        border-top: 1px solid #CFD8DC;
        .form-group{
          margin-bottom: 0;
          select{
            height: 42px;
            font-size: 12px;
            color: #696969;
            outline: none;
          }
        }
      }
    }
    .booking-left-menu-ordered{
      border: 1px solid #CFD8DC;
      border-radius: 5px;
      padding: 20px 15px;
      background: #fff;
      margin-bottom: 20px;
      display: none;
      &.show{
        display: block;
      }
      .blmp-name{
        font-size: 14px;
        font-weight: bold;
        color: #3c3c3c;
        margin-bottom: 20px;
        padding-bottom: 15px;
        position: relative;
        &:after{
          content: '';
          background: #CFD8DC;
          width: 80%;
          height: 1px;
          position: absolute;
          left: 10%;
          bottom: 0;
          right: 10%;
        }
      }
      p{
        font-size: 14px;
        color: #696969;
        display: flex;
        span{
          margin-left: 10px;
        }
      }
    }
    .booking-left-menu-process{
      border: 1px solid #CFD8DC;
      border-radius: 5px;
      padding: 20px 15px;
      background: #fff;
      margin-bottom: 20px;
      .blmp-name{
        font-size: 14px;
        font-weight: bold;
        color: #3c3c3c;
        margin-bottom: 20px;
        padding-bottom: 15px;
        position: relative;
        &:after{
          content: '';
          background: #CFD8DC;
          width: 80%;
          height: 1px;
          position: absolute;
          left: 10%;
          bottom: 0;
          right: 10%;
        }
      }
      i.fa-map-marker-alt{
        margin-right: 10px;
      }
      .blmp-bv{
        color: #48a7f2;;
        font-size: 14px;
        font-weight: bold;
        position: relative;
        margin-bottom: 25px;
      }
      .blmp-link{
        font-size: 14px;
        color: #696969;
        margin-bottom: 15px;
        position: relative;
        padding-right: 20px;
        transition: all .2s ease;
        i{
          position: absolute;
          top: 1px;
          right: 0;
          transition: all .2s ease;
        }
        &.active{
          color: #48a7f2;
        }
      }
    }
    .booking-left-menu-hotline{
      background: #48a7f2;
      border-radius: 5px;
      padding: 15px 10px;
      .blmh-name{
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      a{
        font-size: 32px;
        color: #fff;
        font-weight: bold;
        transition: all .2s ease;
        letter-spacing: 5px;
        &:hover, &:focus{
          color: #3c3c3c;
        }
      }
    }
  }
  .booking-right-calendar{
    border: 1px solid #CFD8DC;
    background: #fff;
    border-radius: 5px;
    padding: 30px 42px;
    height: auto;
    transition: all .2s ease;
    @media screen and (max-width: 767px){
      padding: 30px 20px;
    }
    .brc-top{
      justify-content: center;
      padding-bottom: 10px;
      margin-bottom: 5px;
      margin-top: -10px;
      border-bottom: 1px solid #CFD8DC;
      position: relative;
      @media screen and (max-width: 767px){
        flex-direction: column;
      }
      .btn-group{
        button{
          outline: none !important;
          box-shadow: none !important;
          border: none !important;
          background: transparent;
          &.btn-default-text{
            font-size: 16px;
            font-weight: bold;
            color: #48a7f2;
          }
          &.btn-default-left{
            margin-right: 20px;
            @media screen and (max-width: 991px){
              margin-right: 10px;
            }
          }
          &.btn-default-right{
            margin-left: 20px;
            @media screen and (max-width: 991px){
              margin-left: 10px;
            }
          }
          i{
            color: #cfd8dc;
            font-size: 30px;
            transition: all .2s ease;
          }
        }
      }
      .brct-note{
        font-size: 12px;
        color: #faa01f;
        font-weight: bold;
        margin-left: 60px;
        position: absolute;
        right: 0;
        @media screen and (max-width: 991px){
          position: relative;
          margin-left: auto;
        }
        @media screen and (max-width: 767px){
          margin-top: 15px;
        }
      }
    }
    .table.calTable{
      margin-bottom: 0;
      tbody{
        tr.btn-booking-tr.hidden{
          display: none;
        }
        td,th{
          width: 14.2857142857%;
          text-align: center;
          color: #3c3c3c;
          font-size: 13px;
          font-weight: bold;
          @media screen and (max-width: 991px){
            font-size: 12px;
          }
        }
        th{
          padding: 20px 10px;
          border-top: 0;
          @media screen and (max-width: 991px){
            padding: 10px 5px;
          }
          &.cn{
            color: #fa531f
          }
          &.t7{
            color: #faa01f;
          }
        }
        td{
          transition: all .2s ease;
          &.active{
            background: #eaeff3;
          }
          button{
            background: none;
            box-shadow: none;
            outline: none;
            border: none;
            color: #3c3c3c;
            font-size: 13px;
            font-weight: 700;
            padding: 15px;
            border-radius: 100%;
            width: 45px;
            padding-left: 16px;
            transition: all .2s ease;
            cursor: pointer;
            &.btn-booking-calendar-disable{
              opacity: .4;
            }
            &:hover, &:focus, &.active{
              color: #fff;
              background: #3ad46b;
            }
          }
        }
      }
    }
    .brc-scroll-group{
      border: 10px solid #eaeff3;
      transition: all .3s ease;
      height: 0;
      opacity: 0;
      padding: 0;
      margin: 0;
      &.show{
        height: auto;
        opacity: 1;
        margin: 0 -42px;
        padding: 20px 42px;
        @media screen and (max-width: 991px){
          padding: 20px;
        }
        @media screen and (max-width: 767px){
          margin: 0 -20px;
        }
      }
      ul{
        display: flex;
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        align-items: center;
        flex-wrap: wrap;
        @media screen and (max-width: 991px){
          align-items: flex-start;
        }
        &.table-ul-top{
          margin-bottom: 20px;
          @media screen and (max-width: 991px){
            margin-bottom: 0;
          }
          li{
            @media screen and (max-width: 991px){
              margin-top: 0;
            }
          }

        }
        &.table-ul-cont{
          border-top: 1px solid #CFD8DC;
          padding-top: 25px;
          margin-bottom: 25px;
          cursor: pointer;
          @media screen and (max-width: 991px){
            margin-bottom: 35px;
          }
          &:hover, &:focus, &.active{
            outline: none;
            li{
              color: #48a7f2;
              font-weight: bold;
              a{
                color: #48a7f2 !important;
                font-weight: bold !important;
                border-color: #48a7f2 !important;
              }
            }
            a{
              color: #48a7f2;
              border-color: #48a7f2;
            }
          }
        }
        li{
          width: 40%;
          padding: 0;
          padding-right: 15px;
          font-size: 14px;
          color: #3c3c3c;
          transition: all .2s ease;
          @media screen and (max-width: 991px){
            width: 50%;
          }
          @media screen and (max-width: 767px){
            &:nth-child(2) {
              text-align: right;
            }
          }
          &:last-child{
            @media screen and (max-width: 991px){
              padding-right: 0;
            }
            width: 20%;
            @media screen and (max-width: 991px){
              width: 100%;
              margin-top: 25px;
            }
          }
          a{
            background: none;
            box-shadow: none;
            outline: none;
            border: 1px solid #aeb8c8;
            width: 100%;
            border-radius: 50px !important;
            padding: 8px 15px;
            font-size: 13px;
            font-weight: bold;
            color: #333333;
            margin: -10px 0;
            cursor: pointer;
            transition: all .2s ease;
            cursor: pointer;
            display: block;
            width: 100%;
            text-align: center;
            &:hover, &:focus, &.active{
              color: #48a7f2;
              border-color: #48a7f2;
            }
          }
        }
      }
      .brc-scroll-group-btn{
        background: #eaeff3;
        padding-bottom: 30px;
        margin: 0 -42px;
        margin-bottom: -20px;
        margin-top: 30px;
        @media screen and (max-width: 767px){
          margin: 0 -20px;
        }
        .btn.btn-info{
          font-size: 12px;
          color: #fff;
          font-weight: bold;
          background: #48a7f2;
          padding: 10px 15px;
          border-bottom-left-radius: 15px !important;
          border-bottom-right-radius: 15px !important;
          border: none;
          i{
            margin-left: 10px;
            transform: rotate(270deg);
          }
        }
      }
    }
    .brc-take-off{
      transition: all .2s ease;
      height: 0;
      opacity: 0;
      margin: 0;
      &.show{
        height: auto;
        opacity: 1;
        margin-top: 30px;
      }
      div{
        font-size: 13px;
        color: #4d4d4d;
        padding-left: 20px;
        position: relative;
        &.take-off-red{
          margin-bottom: 10px;
          &:before{
            content: '';
            background: #fa531f;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            position: absolute;
            top: 3px;
            left: 0;
            display: inline-block;
          }
        }
        &.take-off-orange{
          &:before{
            content: '';
            background: #faa01f;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            position: absolute;
            top: 3px;
            left: 0;
            display: inline-block;
          }
        }
      }
    }
    .brc-btn{
      transition: all .2s ease;
      height: 0;
      opacity: 0;
      margin: 0;
      p{
        color: #3c3c3c;
        font-size: 13px;
        margin-bottom: 0;
        @media screen and (max-width: 991px){
          margin-bottom: 15px;
        }
      }
      &.show{
        height: auto;
        opacity: 1;
        margin-top: 30px;
      }
      @media screen and (max-width: 991px){
        .btn{
          display: block;
          i{
            top: 10px;
          }
          &.btn-info{
            margin-top: 15px;
            margin-left: 0;
          }
        }
      }
      .btn-default{
        border-radius: 50px !important;
        padding: 12px 20px;
        font-size: 13px;
        color: #48a7f2;
        font-weight: bold;
        border: 1px solid #48a7f2;
        background: transparent;
        display: block;
        width: 100%;
        i{
          margin-left: 5px;
          position: relative;
          top: 1px;
        }
      }
      .btn-info{
        background: #48a7f2;
        font-size: 13px;
        color: #fff;
        font-weight: bold;
        padding: 12px 30px;
        border: none;
        display: block;
        width: 100%;
      }
    }
  }
  .booking-right-time{
    border: 1px solid #CFD8DC;
    background: #fff;
    border-radius: 5px;
    padding: 30px 42px;
    height: auto;
    transition: all .2s ease;
    @media screen and (max-width: 767px){
      padding: 30px 20px;
    }
    .brt-top{
      margin-bottom: 30px;
      h4{
        color: #48a7f2;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 0;
        @media screen and (max-width: 991px){
          margin-bottom: 20px;
        }
      }
      .brt-btn{
        font-size: 10px;
        padding: 5px 8px;
        transition: all .2s ease;
        @media screen and (max-width: 500px){
          display: block;
          margin-bottom: 10px;
          text-align: center;
        }
        &.brt-btn-1{
          color: #fff;
          background: #48a7f2;
          border: 1px solid #48a7f2;
        }
        &.brt-btn-2{
          color: #3c3c3c;
          border: 1px solid #CFD8DC;
          background: #fff;
          margin: 0 20px;
          @media screen and (max-width: 500px){
            margin: 0;
            margin-bottom: 10px;
          }
        }
        &.brt-btn-3{
          color: #f26522;
          border: 1px solid #f26522;
          background: #fff;
        }
      }
    }
    .btn.btn-info{
      background: #3c99e3;
      padding: 10px 42px;
      color: #fff;
      border: none;
      margin: 0 7.5px;
      text-transform: uppercase;
      border: 1px solid rgb(60, 153, 227);
    }
    .brt-cont-group{
      height: auto;
      transition: all .2s ease;
      border: 1px solid #CFD8DC;
      border-radius: 3px;
      margin-bottom: 30px;
      &:hover, &:focus, &.active{
        border-color: #48a7f2;
      }
      .brt-cont{
        padding: 20px;
        padding-right: 35px;
        position: relative;
        cursor: pointer;
        padding-bottom: 20px;
        i{
          position: absolute;
          top: 20px;
          right: 23px;
          transition: all .2s ease;
          transform: rotate(270deg);
          color: #696969;
        }
        .brt-cont-right{
          margin-left: 15px;
          .brt-cont-name{
            font-size: 13px;
            color: #3c3c3c;
            font-weight: bold;
            margin-bottom: 5px;
          }
          .brt-cont-code{
            font-size: 12px;
            color: #696969;
          }
        }
      }
      &.active{
        .brt-cont{
          i{
            transform: rotate(90deg);
          }
        }
      }
      .brt-cont-hide{
        padding: 0;
        transition: all .2s ease;
        height: 0;
        opacity: 0;
        &.show{
          border-top: 1px solid #CFD8DC;
          height: auto;
          opacity: 1;
          padding: 20px 10px;
          margin-bottom: -20px;
          @media screen and (max-width: 767px){
            padding: 20px 0;
          }
        }
        ul{
          display: flex;
          padding-left: 0;
          margin-bottom: 0;
          list-style-type: none;
          flex-wrap: wrap;
          width: 100%;
          li{
            width: 20%;
            padding: 0 10px;
            margin-bottom: 20px;
            @media screen and (max-width: 991px){
              width: 33.3333%;
            }
            @media screen and (max-width: 500px){
              width: 50%;
            }
            a{
              color: #333333;
              font-size: 13px;
              padding: 8px 15px;
              border: 1px solid #CFD8DC;
              transition: all .2s ease;
              display: block;
              text-align: center;
              &:hover, &:focus, &.active{
                background: #48a7f2;
                color: #fff;
                border-color: #48a7f2;
              }
              &.active-full{
                cursor: default;
                background: #ff7335;
                color: #fff;
                border-color: #ff7335;
              }
            }
          }
        }
      }
    }
  }
  .booking-right-bill{
    border: 1px solid #CFD8DC;
    background: #fff;
    border-radius: 5px;
    padding: 30px 0;
    height: auto;
    transition: all .2s ease;
    h4{
      color: #48a7f2;
      font-weight: bold;
      font-size: 15px;
      padding: 0 35px;
      padding-bottom: 30px;
      border-bottom: 1px solid #CFD8DC;
      @media screen and (max-width: 575px){
        padding: 0 20px;
        padding-bottom: 30px;
      }
    }
    .brb-btn{
      border-top: 1px solid #CFD8DC;
      padding: 30px 35px;
      @media screen and (max-width: 575px){
        padding: 30px 20px;
      }
      p{
        font-size: 14px;
        color: #3c3c3c;
        margin-bottom: 10px;
        span{
          font-weight: bold;
        }
      }
      .mg-bottom-2{
        margin-bottom: 30px;
      }
      .btn.btn-success{
        background: #38d46a;
        padding: 10px 42px;
        color: #fff;
        border: none;
        text-transform: uppercase;
        margin-top: 30px;
      }
    }
    .brb-bill-hide{
      display: none;
      &.show{
        display: block;
      }
    }
    .brb-bill{
      border: 5px solid #CFD8DC;
      margin: 42px 0;
      margin-bottom: 20px;
      padding: 15px;
      .img-bar-code{
        width: 50%;
        margin: 0 auto;
      }
      .brb-bill-sub-title{
        font-size: 14px;
        color: #3c3c3c;
        margin-bottom: 20px;
      }
      .brb-bill-sub-title-1{
        font-size: 18px;
        color: #3c3c3c;
        margin-bottom: 15px;
      }
      h6{
        color: #3c3c3c;
        font-size: 14px;
        margin-bottom: 5px;
      }
      .brb-bill-number{
        font-size: 100px;
        color: #48a7f2;
        font-weight: bold;
        margin: 20px 0;
      }
      p{
        font-size: 14px;
        color: #3c3c3c;
        margin-bottom: 10px;
        span{
          font-weight: bold;
          color: #3c3c3c;
        }
        i{
          font-style: normal;
          margin-left: 10px;
        }
      }
      .mg-bottom-2{
        margin-bottom: 30px;
      }
    }
    .btn.btn-default{
      background: #fff;
      padding: 10px 30px;
      color: #48a7f2;
      font-size: 13px;
      text-transform: uppercase;
      border: 1px solid #CFD8DC;
      width: 100%;
      margin-bottom: 30px;
      @media screen and (max-width: 991px){
        margin-top: 10px;
      }
      i{
        margin-right: 10px;
      }
    }
  }
  .booking-right-success{
    border: 1px solid #CFD8DC;
    background: #fff;
    border-radius: 5px;
    padding: 30px 20px;
    padding-top: 60px;
    height: auto;
    transition: all .2s ease;
    i{
      font-size: 150px;
      margin-bottom: 42px;
      color: #48a7f2;

    }
    h4{
      font-weight: 400;
      margin-bottom: 10px;
      font-size: 15px;
      span{
        color: #48a7f2;
        font-weight: bold;
      }
    }
    .brs-payment-btn{
      border-top: 1px solid #CFD8DC;
      padding: 30px;
      padding-bottom: 0;
      margin: 0 -20px;
      margin-top: 60px;
      .btn.btn-info{
        background: #3c99e3;
        padding: 10px 42px;
        color: #fff;
        border: none;
        margin: 0 7.5px;
        text-transform: uppercase;
        border: 1px solid rgb(60, 153, 227);
      }
    }
  }
  .booking-right-info{
    border: 1px solid #CFD8DC;
    background: #fff;
    border-radius: 5px;
    padding: 30px 0;
    height: auto;
    transition: all .2s ease;
    h4{
      color: #48a7f2;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 20px;
      padding: 0 42px;
    }
    .table-responsive{
      position: relative;
      overflow: auto;
      margin-bottom: 20px;
      table{
        border: 10px solid #eceef3;
        @media screen and (max-width: 991px){
          min-width: 992px;
        }
        @media screen and (max-width: 767px){
          margin-bottom: 20px;
        }
        th{
          border-top: none;
          border-bottom: 1px solid #CFD8DC;
          padding: 20px 12px;
          font-size: 14px;
          color: #3c3c3c;
          text-align: center;
        }
        tr{
          background: none;
        }
        td{
          border-bottom: 1px solid #CFD8DC;
          padding: 20px 12px;
          color: #696969;
          font-size: 14px;
          text-align: center;
          transition: all .2s ease;
          button{
            outline: none;
            background: none;
            box-shadow: none;
            position: relative;
            color: #696969;
            font-size: 13px;
            font-weight: bold;
            transition: all .2s ease;
            padding-left: 20px;
            border: none;
            cursor: pointer;
            &:hover, &:focus{
              color: #48a7f2;
            }
            &:before{
              content: '';
              background: url('../images/logged-step/delete.png') no-repeat center;
              width: 13px;
              height: 14px;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
          &.active{
            color: #48a7f2;
            font-weight: bold;
          }
        }
      }
    }
    .bri-price{
      padding: 0 42px;
      .btn.btn-default{
        background: #fff;
        padding: 10px 30px;
        color: #48a7f2;
        font-size: 14px;
        border: none;
        border: 1px solid #48a7f2;
        @media screen and (max-width: 991px){
          margin-top: 10px;
        }
        i{
          margin-right: 10px;
        }
      }
      .bri-price-cont{
        p{
          font-size: 13px;
          color: #3c3c3c;
          span{
            font-weight: bold;
            margin-left: 10px;
            display: inline-block;
            min-width: 75px;
            color: #48a7f2;
          }
          &:first-child{
            // color: #3c3c3c;
            margin-bottom: 10px;
          }
        }
      }
    }
    .bri-profile{
      margin-top: 30px;
      padding-top: 30px;
      padding-left: 42px;
      padding-right: 20px;
      padding-bottom: 30px;
      border-top: 1px solid #CFD8DC;
      @media screen and (max-width: 767px){
        padding: 30px 20px;
        padding-bottom: 0;
      }
      h4{
        color: #48a7f2;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 0;
        margin-right: 10px;
        padding: 0;
        width: 100%;
        @media screen and (max-width: 767px){
          margin-bottom: 20px;
          margin-right: 0;
        }
      }
      .form-group{
        margin-bottom: 0;
        width: 100%;
        select{
          height: 42px;
          font-size: 14px;
          color: #696969;
          outline: none;
        }
      }
      ul{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        margin-top: 42px;
        list-style-type: none;
        padding-left: 0;
        li{
          width: 50%;
          text-align: left;
          padding: 0 0 12px 25px;
          @media screen and (max-width: 767px){
            width: 100%;
            padding: 0;
            text-align: center;
          }
          .conf-f{
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 15px;
            text-align: right;
            color: #696969;
          }
          .conf-t{
            font-size: 14px;
            // font-weight: bold;

            margin-bottom: 15px;
            @media screen and (max-width: 767px){
              margin-bottom: 30px;
            }
          }
        }
      }
    }
    .bri-payment-btn{
      border-top: 1px solid #CFD8DC;
      padding: 30px;
      padding-bottom: 0;
      .btn.btn-info{
        background: #3c99e3;
        padding: 10px 42px;
        color: #fff;
        border: none;
        margin: 0 7.5px;
        text-transform: uppercase;
        border: 1px solid rgb(60, 153, 227);
      }
    }
  }
  .booking-right-payment{
    padding: 30px 20px;
    border: 1px solid #CFD8DC;
    background: #fff;
    border-radius: 5px;
    height: auto;
    transition: all .2s ease;
    .brp-right{
      border: 1px solid #48a7f2;
      padding: 20px 0;
      margin-left: -15px;
      @media screen and (max-width: 991px){
        margin-left: 0;
        margin-bottom: 30px;
      }
      p{
        padding: 0 15px;
        color: #3c3c3c;
        font-size: 14px;
        margin-bottom: 15px;
        &.df-r{
          width: 60%;
          padding-left: 0;
        }
        &.df-l{
          width: 40%;
          margin-right: 10px;
          padding-right: 0;
        }
      }
      hr{
        border: .5px solid #CFD8DC !important;
        margin: 15px 0;
      }
      h4{
        padding: 0 15px;
        font-size: 15px;
        font-weight: bold;
        color: #3c3c3c;
        margin-bottom: 15px;
      }
      h5{
        font-weight: 700;
        padding: 0 15px;
        font-size: 15px;
        margin-bottom: 0;
        margin-top: 10px;
      }
    }
    input{
      outline: none !important;
    }
    .brp-left{
      .brp-left-progress{
        margin-bottom: 42px;
        position: relative;
        ul{
          display: flex;
          list-style-type: none;
          margin-bottom: 0;
          padding-left: 0;
          flex-wrap: wrap;
          heigth: 100%;
          padding: 0 30px;
          @media screen and (max-width: 991px){
            padding: 0 20px;
          }
          @media screen and (max-width: 991px){
            padding: 0;
          }
          li {
            width: 33.3333%;
          }
        }
        ul.brp-left-progress-1{
          position: relative;
          z-index: 2;
          li{
            i{
              border: 1px solid #e3e4e4;
              background: #fff;
              border-radius: 100%;
              padding: 10px;
              padding-left: 11px;
              color: #e3e4e4;
              transition: all .2s ease;
            }
            &.active{
              i{
                background: #48a7f2;
                border-color: #48a7f2;
                color: #fff;
              }
            }
            p{
              font-size: 13px;
              color: #3c3c3c;
              margin-bottom: 0;
              margin-top: 10px;
              text-align: center;
              position: relative;
              @media screen and (max-width: 991px){
                position: absolute;
              }
            }
            &:first-child{
              p{
                left: -53px;
                @media screen and (max-width: 991px){
                  left: 0;
                }
              }
            }
            &:nth-child(2){
              p{
                @media screen and (max-width: 991px){
                  left: 50%;
                  margin-left: -25px;
                }
              }
            }
            &:last-child{
              p{
                right: -60px;
                @media screen and (max-width: 1199px){
                  right: -50px;
                }
                @media screen and (max-width: 991px){
                  right: 0;
                }
              }
            }
          }

        }
        ul.brp-left-progress-2{
          text-align: center;
          position: absolute;
          width: 100%;
          top: 17.5px;
          z-index: 0;
          li{
            width: 50%;
            height: 1px;
            background: #e3e4e4;
          }
        }
        ul.brp-left-progress-3{
          text-align: center;
          position: absolute;
          width: 100%;
          top: 17.5px;
          z-index: 1;
          li{
            width: 50%;
            border: 1px solid #48a7f2;
            width: 0;
            transition: all .6s ease;
            &.active{
              width: 50%;
            }
          }
        }
      }
      h4{
        color: #3c3c3c;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 20px;
        @media screen and (max-width: 991px){
          padding-top: 30px;
        }
      }
      .form-group{
        margin-bottom: 0;
        .form-check.form-check-inline{
          margin-left: 0;
          color: #3c3c3c;
          font-size: 14px;
          img{
            margin-left: 10px;
          }
          input.form-check-input{
            margin-right: 10px;
            position: relative;
            top: 2px;
          }
        }
        .brp-visa-group{
          border: 1px solid #CFD8DC;
          transition: all .3s ease;
          height: 0;
          opacity: 0;
          transform: scale(0);
          &.show{
            height: auto;
            transform: scale(1);
            opacity: 1;
            margin-top: 15px;
            padding: 30px 10px;
            margin-bottom: 20px;
          }
          .brp-visa-left{
            width: 100%;
            margin-right: 30px;
            img.mg-bottom-2{
              margin-bottom: 15px;
              @media screen and (max-width: 767px){
                margin: 20px 0;
              }
            }
          }
          .form-group{
            margin-bottom: 10px;
            .form-check{
              margin-top: 20px;
              maring-bottom: 0;
              .form-check-label{
                font-size: 14px;
                color: #3c3c3c;
                input{
                  height: auto;
                }
              }
            }
            label{
              font-size: 14px;
              color: #3c3c3c;
              margin-bottom: 10px;
            }
            input{
              height: 42px;
              color: #333333;
            }
            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: #333333;
            }
            ::-moz-placeholder { /* Firefox 19+ */
              color: #333333;
            }
            :-ms-input-placeholder { /* IE 10+ */
              color: #333333;
            }
            :-moz-placeholder { /* Firefox 18- */
              color: #333333;
            }
            &.form-group-atm-code{
              position: relative;
              img{
                position: absolute;
                right: -80px;
                bottom: 0;
                min-height: 42px;
              }
            }
          }
          p{
            font-size: 12px;
            color: #3c3c3c;
            margin-bottom: 0;
            margin-top: 10px;
            padding-right: 50px;
            @media screen and (max-width: 991px){
              padding-right: 0;
            }
          }
        }
        .brp-atm-group{
          border: 1px solid #CFD8DC;
          height: 0;
          transition: all .3s ease;
          opacity: 0;
          transform: scale(0);
          &.show{
            transform: scale(1);
            height: auto;
            opacity: 1;
            margin-top: 15px;
            padding: 10px;
          }
          ul{
            display: flex;
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
            flex-wrap: wrap;
            li{
              width: 14.2857142857%;
              padding: 0 5px;
              margin-bottom: 10px;
              @media screen and (max-width: 991px){
                width: 33.3333%;
              }
              @media screen and (max-width: 767px){
                width: 50%;
              }
              a{
                border: 1px dashed #CFD8DC;
                padding: 5px;
                border-radius: 3px;
                height: 100%;
                align-items: center;
                display: flex;
                transition: all .3s ease;
                &:hover, &:focus, &.active{
                  background: rgba(72,167,242,1);
                }
              }
            }
          }
        }
      }
    }
    .brp-payment-btn{
      border-top: 1px solid #CFD8DC;
      padding: 30px;
      margin: 0 -20px;
      padding-bottom: 0;
      margin-top: 30px;
      @media screen and (max-width: 991px){
        padding: 30px 20px;
      }
      .btn.btn-info{
        background: #3c99e3;
        padding: 10px 42px;
        color: #fff;
        border: none;
        margin: 0 7.5px;
        text-transform: uppercase;
        border: 1px solid rgb(60, 153, 227);
      }
    }
  }
}

#section-booking-3{
  .booking-right-calendar{
    .brc-scroll-group{
      .brc-scroll-auto{
        overflow: auto;
        height: 267px;
      }
      ul{
        &.table-ul-top{
          @media screen and (max-width: 991px){
            margin-bottom: 20px;
          }
          li{
            width: 33.3333% !important;
            @media screen and (max-width: 991px){
              width: 50% !important;
              &:first-child {
                width: 100% !important;
              }
              &:last-child{
                margin-top: 0 !important;
              }
            }
            @media screen and (max-width: 767px){
              text-align: left !important;
            }
          }
          li:first-child{
            padding-right: 0;
            position: relative;
            input{
              height: 42px;
              width: 100%;
              padding-left: 20px;
              padding-right: 30px;
              color: #696969;
              border-radius: 50px;
              @media screen and (max-width: 991px){
                margin-bottom: 20px;
              }
            }
            i.fas{
              position: absolute;
              top: 15px;
              right: 15px;
              color: #696969;
            }
          }
        }

        &.table-ul-cont{
          li{
            @media screen and (max-width: 767px){
              &:not(:last-child){
                text-align: left !important;
              }
            }
          }
          li:last-child{
            text-align: right;
            a{
              width: auto;
              padding: 8px 40px;
              display: inline-block;
              color: rgba(51,51,51,.5);
              border-color: rgba(51,51,51,.5);
            }
          }
        }
      }
    }
  }
  .brc-btn{
    .btn-default{
      position: relative;
      padding: 12px 30px !important;
      padding-right: 40px !important;
      display: inline-block !important;
      white-space: normal;
      width: auto !important;
      transition: all .3s ease;
      i{
        position: absolute !important;
        right: 15px;
        top: 14px !important;
      }
    }
  }
}

#section-booking-45{
  .brc-btn{
    transition: all .2s ease;
    height: 0;
    opacity: 0;
    margin: 0;
    p{
      color: #3c3c3c;
      font-size: 14px;
      margin-bottom: 0;
      @media screen and (max-width: 991px){
        margin-bottom: 15px;
      }
    }
    &.show{
      height: auto;
      opacity: 1;
      margin-top: 30px;
    }
    @media screen and (max-width: 991px){
      .btn{
        display: block;
        i{
          top: 10px;
        }
        &.btn-info{
          margin-top: 15px;
          margin-left: 0;
        }
      }
    }
    .btn-default{
      border-radius: 50px !important;
      font-size: 13px;
      color: #48a7f2;
      font-weight: bold;
      border: 1px solid #48a7f2;
      background: transparent;
      position: relative;
      padding: 12px 30px !important;
      display: inline-block !important;
      width: auto !important;
      transition: all .3s ease;
      white-space: normal;
      i{
        position: absolute !important;
        right: 15px;
        top: 14px !important;
      }
    }
    .btn-info{
      width: 100%;
    }
  }
}
#section-booking-6 table.bri-show-records{
  thead{
    tr{
      th{
        &:nth-child(1){
          width: 5%;
        }
        &:nth-child(2){
          width: 20%;
        }
        &:nth-child(3){
          width: 20%;
        }
        &:nth-child(4){
          width: 20%;
        }
        &:nth-child(5){
          width: 18%;
        }
        &:nth-child(6){
          width: 12%;
        }
        &:nth-child(7){
          width: 5%;
        }
      }
    }
  }
}
