#section-banner{
  background: url('../images/logged-step/banner.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 175px;
  padding-bottom: 50px;
  h1{
    display: inline-block;
    font-size: 34px;
    color: #fff;
    font-weight: bold;
    background: #31ca62;
    padding: 3px 30px;
    margin-bottom: 15px;
  }
  h2{
    font-size: 16px;
    color: #4a7699;
    font-weight: bold;
  }
}

#section-find-doctor-1, #section-find-doctor-2{
  margin-bottom: 80px;
  .booking-left-menu-top{
    border: 1px solid #CFD8DC;
    border-radius: 5px;
    padding: 20px 15px;
    background: #fff;
    margin-bottom: 20px;
    .blmt-name{
      font-size: 12px;
      font-weight: bold;
      color: #3c3c3c;
      margin-bottom: 15px;
    }
    .blmt-info{
      font-size: 13px;
      margin-bottom: 15px;
      color: #696969;
    }
    .mg-bottom-0{
      margin-bottom: 0;
    }
    form{
      padding: 0 15px;
      padding-top: 20px;
      margin: 0 -15px;
      border-top: 1px solid #CFD8DC;
      .form-group{
        margin-bottom: 0;
        select{
          height: 42px;
          font-size: 12px;
          color: #696969;
          outline: none;
        }
      }
    }
  }
  .find-doctor-left{
    padding: 30px 0;
    border: 1px solid #CFD8DC;
    border-radius: 5px;
    background: #fff;
    @media screen and (max-width: 767px){
      margin-bottom: 30px;
      margin-top: 0;
    }
    h4{
      padding: 0 20px;
      color: #48a7f2;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 30px;
    }
    hr{
      margin: 0;
    }
    form{
      padding: 0 20px;
      padding-top: 20px;
      .form-group{
        margin-bottom: 15px;
        &.mg-bottom-0{
          margin-bottom: 0;
        }
        label{
          font-size: 13px;
          font-weight: bold;
          color: #3c3c3c;
          margin-bottom: 10px;
        }
        input,select{
          height: 40px !important;
          color: #333333;
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #333333;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          color: #333333;
        }
        :-ms-input-placeholder { /* IE 10+ */
          color: #333333;
        }
        :-moz-placeholder { /* Firefox 18- */
          color: #333333;
        }
        .btn.btn.btn-info{
          margin-top: 10px;
          background: #3c99e3;
          padding: 10px 40px;
          color: #fff;
          border: none;
          text-transform: uppercase;
          border: 1px solid rgb(60, 153, 227);
        }
      }
    }
  }
  .find-doctor-left-1{
    padding: 20px;
    border: 1px solid #CFD8DC;
    border-radius: 5px;
    background: #fff;
    h4{
      color: #3c3c3c;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 20px;
    }
    hr{
      margin: 0;
      margin-bottom: 20px;
    }
    p{
      color: #3c3c3c;
      font-size: 13px;
      position: relative;
      padding-left: 15px;
      margin-bottom: 20px;
      &.circle{
        &:before{
          content: '';
          border: 1px solid #48a7f2;
          height: 10px;
          width: 10px;
          position: absolute;
          top: 2px;
          left: 0;
          border-radius: 100%;
        }
      }
    }
    ul{
      list-style-type: none;
      margin-bottom: 0;
      padding-left: 0;
      li{
        font-size: 12px;
        font-weight: bold;
        color: #48a7f2;
        &:first-child{
          margin-bottom: 20px
        }
        i{
          margin-right: 5px;
        }
        &.circle{
          font-size: 13px;
          margin-bottom: 20px;
          color: #696969;
          i{
            position: relative;
            left: -3px;
            margin-right: 5px;
            color: #48a7f2 !important;
          }
        }
        &:last-child{
          margin-bottom: 0 !important;
        }
      }
    }
  }
  .find-doctor-left-2{
    border: 1px solid #CFD8DC;
    border-radius: 5px;
    padding: 20px 15px;
    background: #fff;
    margin-bottom: 20px;
    .blmt-name{
      font-size: 12px;
      font-weight: bold;
      color: #3c3c3c;
      margin-bottom: 15px;
    }
    .blmt-info{
      font-size: 13px;
      margin-bottom: 15px;
      color: #696969;
    }
    .mg-bottom-0{
      margin-bottom: 0;
    }
    form{
      padding: 0 15px;
      padding-top: 20px;
      margin: 0 -15px;
      margin-top: 15px;
      border-top: 1px solid #CFD8DC;
      .form-group{
        margin-bottom: 0;
        select{
          height: 42px;
          font-size: 12px;
          color: #696969;
          outline: none;
        }
      }
    }
  }
  .find-doctor-right{
    ul.find-doctor-right-top{
      padding-left: 0;
      list-style-type: none;
      marign-bottom: 0;
      li{
        color: #696969;
        font-size: 12px;
        font-weight: bold;
        padding: 0 12px;
        &:nth-child(1){
          width: 5%;
        }
        &:nth-child(2){
          width: 20%;
        }
        &:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7){
          width: 15%;
        }
      }
    }
    .table-responsive.find-doctor-right-cont{
      position: relative;
      overflow: auto;
      margin: 0;
      margin-bottom: 30px;
      table{
        @media screen and (max-width: 991px){
          min-width: 800px;
        }
        thead{
          background: none;
          border: none;
          th{
            border: none;
          }
        }
        tbody{
          border: 1px solid #CFD8DC;
          background: #fff;
          margin: 0;
          border-radius: 5px;
        }
        tr{
          background: none;
        }
        td{
          border-bottom: 1px solid #CFD8DC;
          border-top: none;
          padding: 15px 12px;
          color: #696969;
          font-size: 15px;
          transition: all .2s ease;
          &:nth-child(8){
            padding: 8px 12px;
            border-right: 2px solid #CFD8DC;
            .btn.btn.btn-info{
              background: #3c99e3;
              padding: 6px 15px;
              width: 100%;
              color: #fff;
              border: none;
              text-transform: uppercase;
              border: 1px solid rgb(60, 153, 227);
            }
          }
        }
      }
    }
  }
  .booking-right-calendar{
    border: 1px solid #CFD8DC;
    background: #fff;
    border-radius: 5px;
    padding: 30px 42px;
    height: auto;
    transition: all .2s ease;
    @media screen and (max-width: 767px){
      padding: 30px 20px;
    }
    .brc-top{
      justify-content: center;
      padding-bottom: 10px;
      margin-bottom: 5px;
      margin-top: -10px;
      border-bottom: 1px solid #CFD8DC;
      position: relative;
      @media screen and (max-width: 767px){
        flex-direction: column;
      }
      .btn-group{
        button{
          outline: none !important;
          box-shadow: none !important;
          border: none !important;
          background: transparent;
          &.btn-default-text{
            font-size: 16px;
            font-weight: bold;
            color: #48a7f2;
          }
          &.btn-default-left{
            margin-right: 20px;
            @media screen and (max-width: 991px){
              margin-right: 10px;
            }
          }
          &.btn-default-right{
            margin-left: 20px;
            @media screen and (max-width: 991px){
              margin-left: 10px;
            }
          }
          i{
            color: #cfd8dc;
            font-size: 30px;
            transition: all .2s ease;
          }
        }
      }
      .brct-note{
        font-size: 12px;
        color: #faa01f;
        font-weight: bold;
        margin-left: 60px;
        position: absolute;
        right: 0;
        @media screen and (max-width: 991px){
          position: relative;
          margin-left: auto;
        }
        @media screen and (max-width: 767px){
          margin-top: 15px;
        }
      }
    }
    .table.calTable{
      margin-bottom: 0;
      tbody{
        tr.btn-booking-tr.hidden{
          display: none;
        }
        td,th{
          width: 14.2857142857%;
          text-align: center;
          color: #3c3c3c;
          font-size: 13px;
          font-weight: bold;
          @media screen and (max-width: 991px){
            font-size: 12px;
          }
        }
        th{
          padding: 20px 10px;
          border-top: 0;
          @media screen and (max-width: 991px){
            padding: 10px 5px;
          }
          &.cn{
            color: #fa531f
          }
          &.t7{
            color: #faa01f;
          }
        }
        td{
          transition: all .2s ease;
          &.active{
            background: #eaeff3;
          }
          button{
            background: none;
            box-shadow: none;
            outline: none;
            border: none;
            color: #3c3c3c;
            font-size: 13px;
            font-weight: 700;
            padding: 15px;
            border-radius: 100%;
            width: 45px;
            padding-left: 16px;
            transition: all .2s ease;
            cursor: pointer;
            &.btn-booking-calendar-disable{
              opacity: .4;
            }
            &:hover, &:focus, &.active{
              color: #fff;
              background: #3ad46b;
            }
          }
        }
      }
    }
    .brc-scroll-group{
      border: 10px solid #eaeff3;
      transition: all .3s ease;
      height: 0;
      opacity: 0;
      padding: 0;
      margin: 0;
      &.show{
        height: auto;
        opacity: 1;
        margin: 0 -42px;
        padding: 20px 42px;
        @media screen and (max-width: 991px){
          padding: 20px;
        }
        @media screen and (max-width: 767px){
          margin: 0 -20px;
        }
      }
      .show-bs{
        font-size: 16px;
        font-weight: bold;
        @media screen and (max-width: 991px){
          margin-bottom: 15px;
        }
      }
      .brc-scroll-group-1{
        margin-bottom: 30px;
        .brt-btn{
          font-size: 10px;
          padding: 5px 8px;
          transition: all .2s ease;
          @media screen and (max-width: 500px){
            display: block;
            margin-bottom: 10px;
            text-align: center;
          }
          &.brt-btn-1{
            color: #fff;
            background: #48a7f2;
            border: 1px solid #48a7f2;
          }
          &.brt-btn-2{
            color: #3c3c3c;
            border: 1px solid #CFD8DC;
            background: #fff;
            margin: 0 20px;
            @media screen and (max-width: 500px){
              margin: 0;
              margin-bottom: 10px;
            }
          }
          &.brt-btn-3{
            color: #f26522;
            border: 1px solid #f26522;
            background: #fff;
          }
        }
      }
      .brc-scroll-group-2{
        border-top: 1px solid #CFD8DC;
        transition: all .2s ease;
        height: auto;
        padding: 20px 10px;
        margin-bottom: -20px;
        @media screen and (max-width: 767px){
          padding: 20px 0;
        }
        ul{
          display: flex;
          padding-left: 0;
          margin-bottom: 0;
          list-style-type: none;
          flex-wrap: wrap;
          width: 100%;
          li{
            width: 20%;
            padding: 0 10px;
            margin-bottom: 20px;
            @media screen and (max-width: 991px){
              width: 33.3333%;
            }
            @media screen and (max-width: 500px){
              width: 50%;
            }
            a{
              color: #333333;
              font-size: 13px;
              padding: 8px 15px;
              border: 1px solid #CFD8DC;
              transition: all .2s ease;
              display: block;
              text-align: center;
              &:hover, &:focus, &.active{
                background: #48a7f2;
                color: #fff;
                border-color: #48a7f2;
              }
              &.active-full{
                cursor: default;
                background: #ff7335;
                color: #fff;
                border-color: #ff7335;
                i{
                  margin-left: 5px;
                  position: relative;
                  top: 1px;
                }
              }
            }
          }
        }
      }
      .brc-scroll-group-btn{
        background: #eaeff3;
        padding-bottom: 30px;
        margin: 0 -42px;
        margin-bottom: -20px;
        margin-top: 30px;
        @media screen and (max-width: 767px){
          margin: 0 -20px;
        }
        .btn.btn-info{
          font-size: 12px;
          color: #fff;
          font-weight: bold;
          background: #48a7f2;
          padding: 10px 15px;
          border-bottom-left-radius: 15px !important;
          border-bottom-right-radius: 15px !important;
          border: none;
          i{
            margin-left: 10px;
            transform: rotate(270deg);
          }
        }
      }
    }
    .brc-take-off{
      transition: all .2s ease;
      height: 0;
      opacity: 0;
      margin: 0;
      &.show{
        height: auto;
        opacity: 1;
        margin-top: 30px;
      }
      div{
        font-size: 13px;
        color: #4d4d4d;
        padding-left: 20px;
        position: relative;
        &.take-off-red{
          margin-bottom: 10px;
          &:before{
            content: '';
            background: #fa531f;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            position: absolute;
            top: 3px;
            left: 0;
            display: inline-block;
          }
        }
        &.take-off-orange{
          &:before{
            content: '';
            background: #faa01f;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            position: absolute;
            top: 3px;
            left: 0;
            display: inline-block;
          }
        }
      }
    }
    .brc-btn{
      transition: all .2s ease;
      height: 0;
      opacity: 0;
      margin: 0;
      p{
        color: #3c3c3c;
        font-size: 14px;
        margin-bottom: 0;
        @media screen and (max-width: 991px){
          margin-bottom: 15px;
        }
      }
      &.show{
        height: auto;
        opacity: 1;
        margin-top: 30px;
      }
      @media screen and (max-width: 991px){
        .btn{
          display: block;
          i{
            top: 10px;
          }
          &.btn-info{
            margin-top: 15px;
            margin-left: 0;
          }
        }
      }
      .btn-default{
        border-radius: 50px !important;
        position: relative;
        font-size: 13px;
        color: #48a7f2;
        background: transparent;
        border: 1px solid #48a7f2;
        padding: 12px 30px !important;
        padding-right: 40px !important;
        display: inline-block !important;
        white-space: normal;
        width: auto !important;
        transition: all .3s ease;
        i{
          position: absolute !important;
          right: 15px;
          top: 14px !important;
        }
      }
      .btn-info{
        background: #48a7f2;
        font-size: 13px;
        color: #fff;
        font-weight: bold;
        padding: 12px 30px;
        border: none;
        display: block;
        width: 100%;
      }
    }
  }
}