footer {
  background: url('../images/app/footer-bg.jpg') no-repeat bottom;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 15px;
  color: #fff;
  font-size: 12px;
  margin-top: auto;
  ul{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    flex-wrap: wrap;
    li{
      width: 100%;
    }
  }
  a{
    display: block;
    color: #fff;
    margin-bottom: 13px;
    &:hover, &:focus{
      color: #3c3c3c !important;
    }
  }
  h4{
    font-size: 12px;
    margin-bottom: 13px;
    font-weight: 400;
  }
  h5 {
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 400 !important;
    font-family: 'Roboto-Slab', sans-serif !important;
  }
  .input-group{
    margin-bottom: 13px;
    input{
      font-size: 13px;
      height: 50px;
      color: #666666;
    }
    span.input-group-btn{
      button{
        height: 100%;
        background: #36afe0;
        padding: 15px 30px;
        font-weight: bold;
        border: none !important;
        box-shadow: none !important;
        cursor: pointer;
      }
    }
  }
}
