.section-banner{
  background: url('../images/homepage/banner.jpg') no-repeat;
  background-position: 25% 0;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 150px;
  h1{
    display: inline-block;
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    background: rgba(72,167,242,.6);
    padding: 3px 12px;
    margin-bottom: 3px;
  }
  h2{
    display: inline-block;
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    background: rgba(72,167,242,.9);
    padding: 3px 7px;
  }
  .des{
    margin: 25px 0;
    font-size: 14px;
  }
  a.btn.btn-success{
    background: #38d46a;
    padding: 15px 20px;
    color: #fff;
    border: none;
    margin: 0 7.5px;
    text-transform: uppercase;
    font-weight: bold;
    @media screen and (max-width: 767px){
      display: block;
      margin-bottom: 15px;
    }
  }
  @media screen and (max-width: 767px){
    background: url(../images/homepage/banner.jpg) no-repeat;
    background-position: 25% 0;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 150px;
    h1{
      font-size: 26px;
      background: rgba(72,167,242,.8);
      padding: 3px 12px;
      margin-bottom: 3px;
    }
    h2{
      font-size: 26px;
      background: rgba(72,167,242,.8);
      padding: 3px 7px;
    }
  }
}
.section-1{
  ul{
    padding-left: 0;
    display: flex;
    height: 100%;
    color: #fff !important;
    list-style-type: none;
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    flex-wrap: wrap;
    li{
      width: 25%;
      @media screen and (max-width: 991px){
        width: 50%;
      }
      @media screen and (max-width: 767px){
        width: 100%;
      }
      .group{
        display: flex;
        align-items: center;
        height: 100%;
        padding: 20px 15px;
        i{
          font-size: 42px;
          margin: 0 10px;
          margin-right: 20px;
        }
        &.g1{
          background: #1ca5ec;
        }
        &.g2{
          background: #199bde;
        }
        &.g3{
          background: #1794d4;
        }
        &.g4{
          background: #168dc9;
        }
        .title{
          font-weight: bold;
          margin-bottom: 10px;
          text-transform: uppercase;
        }
        .des{
          font-size: 12px;
        }
      }
    }
  }
}
.section-2{
  margin-top: 50px;
  margin-bottom: 65px;
  @media screen and (max-width: 767px){
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .group{
    height: 100%;
    border: 1px solid #CFD8DC;
    padding: 20px 15px;
    padding-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    &.g1{
      padding-left: 93px;
      &:before{
        content: '';
        background: url('../images/icons/search.png') no-repeat center;
        width: 53px;
        height: 50px;
        position: absolute;
        top: 25px;
        left: 20px;
      }
    }
    &.g2{
      padding-left: 90px;
      &:before{
        content: '';
        background: url('../images/icons/troubles.png') no-repeat center;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 25px;
        left: 20px;
      }
      a.see-more{
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 12px;
        color: #1e61c6;
        @media screen and (max-width: 767px){
          position: relative;
          bottom: 0;
          top: 0;
          right: 0;
        }
      }
    }
    .title{
      color: #1ca5ec;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 7px;
      text-transform: uppercase;
    }
    .des{
      color: #696969;
      margin-bottom: 5px;
    }
    .btn.btn-info{
      background: #48a7f2;
      padding: 15px 40px;
      color: #fff;
      border: none;
      margin: 0 7.5px;
      text-transform: uppercase;
    }
    p{
      margin-bottom: 5px;
      position: relative;
      padding-left: 10px;
      &:before{
        content: '';
        background: url('../images/icons/arr-right.svg') no-repeat center;
        width: 4px;
        height: 6px;
        position: absolute;
        top: 6px;
        left: 0;
      }
    }
  }
}
.section-3{
  background: url('../images/homepage/s3-bg.png') no-repeat;
  background-position: center bottom;
  margin-bottom: 50px;
  .title{
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 5px;
    span{
      background: #229cd9;
      padding: 5px;
      color: #fff;
      font-weight: bold;
    }
  }
  .sub-title{
    color: #36a8d3;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .sm-visible{
    display: none;
    @media screen and (max-width: 767px){
      display: inline-block;
      margin: 30px 0;
    }
  }
  ul{
    padding-left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    color: #fff !important;
    list-style-type: none;
    margin-top: 20px;
    flex-wrap: wrap;
    @media screen and (max-width: 767px){
      height: auto;
    }
    li{
      width: 33.33333%;
      @media screen and (max-width: 767px){
        width: 100%;
      }
      &.sm-hidden{
        @media screen and (max-width: 767px){
          display: none;
        }
      }
      .group{
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 767px){
          margin-bottom: 30px;
        }
        .des{
          font-size: 18px;
          color: #323e50;
          line-height: 1.2;

        }
        i{
          font-size: 42px;
          color: #48a7f2;
          min-width: 50px;
        }
        &.text-md-right{
          i{
            margin-left: 25px;
            @media screen and (max-width: 767px){
              margin-right: 25px;
              margin-left: 0;
            }
          }
        }
        &.text-left{
          i{
            margin-right: 25px;
          }
        }
      }
    }
  }
}
