#section-banner{
  background: url('../images/logged-step/banner.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 175px;
  padding-bottom: 50px;
  h1{
    display: inline-block;
    font-size: 34px;
    color: #fff;
    font-weight: bold;
    background: #31ca62;
    padding: 3px 30px;
    margin-bottom: 15px;
  }
  h2{
    font-size: 16px;
    color: #4a7699;
    font-weight: bold;
  }
}

#section-info-123,#section-info-4, #section-info-5,
#section-info-6, #section-info-7,
#section-info-9, #section-info-10,
#section-info-11, #section-info-12,
#section-info-13{
  margin-bottom: 100px;
  height: auto;
  transition: all .5s ease;
  .group{
    border: 1px solid #CFD8DC;
    background: #fff;
    padding: 50px 20px;
    border-radius: 3px;
    height: auto;
    transition: all .2s ease;
    position: relative;
    margin-bottom: 50px;
    &.group-files{
      .group-files-item{
        border-bottom: 1px dashed #CFD8DC;
        margin-bottom: 20px;
        @media screen and (max-width: 991px){
          flex-direction: column;
          padding-bottom: 20px;
        }
        .group-files-item-left{
          .gfi-name{
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 20px;
            span{
              i{
                margin-right: 5px;
              }
              color: #40b24f;
              position: relative;
              margin-left: 5px;
            }
          }
          .gfi-info{
            color: #696969;
            font-size: 14px;
            margin-bottom: 20px;
          }
        }
        .group-files-item-right{
          a{
            color: #696969;
            font-size: 13px;
            transition: all .2s ease;
            position: relative;
            padding-left: 20px;
            &:hover, &:focus{
              color: #48a7f2;
            }
            i{
              margin-right: 5px;
            }
            &.gfi-delete{
              margin-left: 15px;
            }
          }
        }
      }
    }
    &.group-files-filter{
      border: none;
      padding: 0;
      background: none;
      margin-bottom: 15px;
      .gff-group{
        position: relative;
        a.gff-name{
          font-size: 14px;
          font-weight: bold;
          color: #3c3c3c;
          transition: all .2s ease;
          i{
            margin-left: 10px;
            transition: all .2s ease;
          }
          &:hover, &:focus{
            i{
              color: #48a7f2;
            }
          }
        }
        ul.dropdown-menu{
          height: auto;
          width: 100%;
          flex-wrap: wrap;
          padding-left: 0;
          list-style-type: none;
          position: absolute;
          background: #fff;
          padding: 20px 10px;
          padding-top: 15px;
          top: 20px !important;
          right: 0 !important;
          left: inherit !important;
          border: 1px solid #CFD8DC;
          min-width: 200px;
          z-index: 9999;
          transform: none !important;
          transition: all .5s ease;
          opacity: 0;
          display: flex;
          visibility: hidden;
          transform: scale(0);
          &.show{
            opacity: 1;
            transform: scale(1);
            visibility: visible;
          }
          li{
            width: 100%;
            &:first-child{
              border-bottom: 1px solid #CFD8DC;
              padding-bottom: 10px;
            }
            &:last-child{
              margin-top: 10px;
            }
            a{
              display: block;
              color: #3c3c3c;
              font-size: 13px;
              transition: all .2s ease;
              &:hover, &:focus{
                color: #48a7f2;
              }
            }
          }
        }
      }
    }
    &.group-files-medical{
      padding: 30px 0;
      padding-bottom: 0;
      .gfm-name{
        color: #3c3c3c;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 20px;
        padding: 0 20px;
      }
      .table-responsive{
        position: relative;
        overflow: auto;
        margin: 0;
        margin-bottom: 30px;
        table{
          border: 10px solid #eceef3;
          @media screen and (max-width: 991px){
            min-width: 800px;
          }
          th{
            border-top: none;
            border-bottom: 1px solid #CFD8DC;
            padding: 20px 12px;
            font-size: 13px;
            color: #3c3c3c;
            text-align: center;
          }
          tr{
            background: none;
            &.active{
              td{
                opacity: .5;
              }
            }
          }
          td{
            border-bottom: 1px solid #CFD8DC;
            padding: 20px 12px;
            color: #696969;
            font-size: 14px;
            text-align: center;
            transition: all .2s ease;
            &.active{
              color: #48a7f2;
              font-weight: bold;
            }
          }
        }
      }
    }
    &.group-files-update{
      .form-group{
        display: flex;
        align-items: center;
        label.gfu-name{
          color: #3c3c3c;
          font-size: 14px;
          min-width: 200px;
          margin-bottom: 0;
        }
        input{
          color: #696969;
          font-size: 13px;
          height: 42px;
          padding: 10px 20px;
          &.form-check-input{
            height: auto;
            margin-right: 10px;
            outline: none;
            position: relative;
            top: 2px;
          }
        }
        select{
          color: #696969;
          font-size: 13px;
          height: 42px;
          padding: 10px 20px;
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #696969;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          color: #696969;
        }
        :-ms-input-placeholder { /* IE 10+ */
          color: #696969;
        }
        :-moz-placeholder { /* Firefox 18- */
          color: #696969;
        }
        .input-value{
          color: #696969;
          font-size: 13px;
          padding: 10px 20px;
          font-weight: bold;
        }
        .form-check-label{
          color: #696969;
          font-size: 13px;
        }
        .form-check.form-check-inline{
          .form-check-label{
            color: #696969;
            font-size: 13px;
          }
          input{
            height: auto;
            outline: none;
            position: relative;
            top: 2px;
          }
          &.form-check-inline+.form-check-inline{
            margin-left: 20px;
            @media screen and(max-width: 991px){
              margin-left: 0;
            }
          }
        }
        @media screen and(max-width: 991px){
          align-items: flex-start;
          flex-direction: column;
          margin-bottom: 20px;
          label.gfu-name{
            margin-bottom: 15px;
          }
        }
      }
      .gfu-ul{
        display: flex;
        list-style-type: none;
        padding-left: 0;
        width: 100%;
        margin-bottom: 0;
        @media screen and (max-width: 767px){
          flex-wrap: wrap;
        }
        li{
          width: 30%;
          &:nth-child(2){
            width: 40%;
            margin: 0 10px;
            @media screen and (max-width: 767px){
              width: 100%;
              margin: 10px 0;
            }
          }
          @media screen and (max-width: 767px){
            width: 100%;
          }
        }
      }
    }
    &.group-error{
      padding-top: 150px;
      @media screen and (max-width: 767px){
        padding-top: 80px;
      }
      .notfound{
        color: #696969;
        font-size: 24px;
        margin-top: 42px;
        @media screen and (max-width: 599px){
          font-size: 20px;
        }
        @media screen and (max-width: 399px){
          font-size: 16px;
        }
      }
      .sub-notfound{
        color: #696969;
        font-size: 24px;
        @media screen and (max-width: 599px){
          font-size: 20px;
        }
        @media screen and (max-width: 399px){
          font-size: 15px;
        }
      }
      .btn-success{
        color: #fff;
        font-size: 13px;
        margin-right: 0;
        background: #38d46a;
        padding: 10px 60px;
        border: none;
        margin-top: 30px;
      }
    }
    &.group-confirm{
      .conf-title{
        font-size: 18px;
        color: #696969;
        margin-bottom: 5px;
      }
      .conf-code{
        font-size: 14px;
        font-weight: bold;
        color: #48a7f2;
      }
      ul{
        display: flex;
        flex-wrap: wrap;
        margin-top: 42px;
        list-style-type: none;
        padding-left: 0;
        li{
          width: 50%;
          text-align: left;
          padding: 0 10px;
          @media screen and (max-width: 767px){
            width: 100%;
            padding: 0;
            text-align: center;
          }
          .conf-f{
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 25px;
          }
          .conf-t{
            font-size: 15px;
            font-weight: bold;
            color: #696969;
            margin-bottom: 35px;
            @media screen and (max-width: 767px){
              margin-bottom: 30px;
            }
          }
        }
      }
      hr{
        margin: 40px -20px;
        margin-top: 0;
        @media screen and (max-width: 767px){
          margin-top: 20px;
          margin-bottom: 0;
        }
      }
      .form-check{
        margin-bottom: 10px;
        label{
          font-size: 14px;
          &:hover, &:focus{
            outline: none !important;
            input{
              outline: none !important;
            }
          }
          //input{
          //  margin-right: 6px;
          //  position: relative;
          //  top: 2px;
          //}
        }
      }
    }
    .btn.btn-info{
      background: #48a7f2;
      padding: 11px 30px;
      font-size: 14px;
      display: block;
      width: 100%;
      color: #fff;
      border: none;
      //margin-top: 25px;
      margin-bottom: 24px;
    }
    .back-to{
      position: absolute;
      top: 42px;
      left: 20px;
      font-size: 14px;
      color: #48a7f2;
      transition: all .2s ease;
      &:hover, &:focus{
        color: #3c3c3c;
      }
      @media screen and (max-width: 767px){
        top: 10px;
        left: 10px;
      }
      i{
        margin-right: 5px;
        position: relative;
        top: 1px;
      }
    }
    h3{
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 30px;
      span{
        color: #48a7f2;
      }
    }
    .btn.btn-default{
      font-size: 13px;
      background: transparent;
      padding: 10px 30px;
      border: 1px solid #CFD8DC;
      color: #3c3c3c;
      margin: 0 15px;
      display: inline-block;
      &:hover, &:focus, &.active{
        //background: #48a7f2;
        color: #fff;
        border-color: transparent;
      }
      @media screen and (max-width: 767px){
        display: block;
        margin: 0;
        margin-bottom: 15px;
      }
    }
    .tab-panel-group{
      margin: 0 -20px;
      margin-top: 30px;
      padding: 30px 200px;
      padding-top: 50px;
      border-top: 1px solid #CFD8DC;
      position: relative;
      transition: all .5s ease;
      height: auto;
      @media screen and (max-width: 1199px){
        padding: 30px 150px;
        padding-top: 50px;
      }
      @media screen and (max-width: 991px){
        padding: 30px 50px;
        padding-top: 50px;
      }
      @media screen and (max-width: 767px){
        padding: 30px 20px;
        padding-top: 30px;
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        top: -5px;
        left: 50%;
        width: 10px;
        height: 10px;
        background: #fff;
        border-right:1px solid #CFD8DC;
        border-bottom:1px solid #CFD8DC;
        -moz-transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
      }
      .group-items{
        height: 100%;
        h3{
          font-size: 14px;
          margin-bottom: 20px;
        }
        input{
          height: 42px;
          font-size: 12px;
          color: #3c3c3c;
          border-color: #cfd8dc;
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #cfd8dc;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          color: #cfd8dc;
        }
        :-ms-input-placeholder { /* IE 10+ */
          color: #cfd8dc;
        }
        :-moz-placeholder { /* Firefox 18- */
          color: #cfd8dc;
        }
        .miss-code{
          color: #696969;
          font-size: 13px;
          position: relative;
          padding-left: 10px;
          text-align: left;
          transition: all .2s ease;
          &:hover, &:focus{
            color: #48a7f2;
          }
          @media screen and (max-width: 767px){
            margin-bottom: 30px;
          }
          &:before{
            content: '';
            background: url('../images/icons/arr-right.svg') no-repeat center;
            width: 4px;
            height: 6px;
            position: absolute;
            top: 3px;
            left: 0;
          }
        }
        p{
          font-size: 13px;
          color: #696969;
        }
        .group-images-left{
          margin-right: 20px;
        }
      }
    }
    .group-items-register{
      p.text-md-left, p.text-md-center{
        margin-bottom: 30px;
      }
      h2{
        font-size: 18px;
        margin-bottom: 50px;
        &.h2-blue{
          color: #48a7f2;
          margin-bottom: 20px;
        }
        &.h2-bor-botttom{
          color: #3c3c3c;
          padding-bottom : 30px;
          border-bottom: 1px solid #CFD8DC;
          margin-bottom: 50px;
        }
      }
      .form-group{
        margin-bottom: 20px;
        &.form-group-icons{
          position: relative;
          &:after{
            content: '';
            background: url('../images/icons/calendar1.svg') no-repeat center;
            width: 17px;
            height: 13px;
            position: absolute;
            bottom: 14px;
            right: 10px;
          }
          input{
            padding-right: 30px;
          }
        }
        label{
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 15px;
          span{
            font-weight: 400;
          }
        }
        input, select{
          height: 42px;
        }
      }
      .form-check{
        margin-top: 10px;
        margin-bottom: 10px;
        label{
          font-size: 14px;
          &:hover, &:focus{
            outline: none !important;
            input{
              outline: none !important;
            }
          }
        }
      }
      .group-results{
        border: 1px solid #CFD8DC;
        padding: 30px 20px;
        padding-bottom: 0;
        cursor: pointer;
        transition: all .2s ease;
        margin-bottom: 30px;
        position: relative;
        &.group-results-13{
          padding-top: 20px;
          padding-bottom: 20px;
        }
        i{
          color: #48a7f2;
          opacity: 0;
          position: absolute;
          top: 10px;
          right: 10px;
          transition: all .3s ease;
        }
        @media screen and (max-width: 991px){
          flex-direction: column;
        }
        &:hover, &:focus, &.active{
          border-color: #48a7f2;
        }
        &.active{
          i{
            opacity: 1;
          }
        }
        .gr{
          height: 100%;
          &.gr-user{
            margin-right: 20px;
            @media screen and (max-width: 991px){
              margin-right: 0;
              margin-bottom: 20px;
            }
          }
          &.gr-info{
            width: 100%;
            .gr-name{
              font-size: 14px;
              color: #696969;
              margin-bottom: 15px;
              font-weight: bold;
            }
            .gr-name-1{
              font-size: 13px;
              color: #696969;
              margin-bottom: 15px;
            }
            .mg-bottom-0{
              margin-bottom: 0;
            }
            ul{
              padding-left: 0;
              list-style-type: none;
              flex-wrap: wrap;
              height: 100%;
              li{
                color: #696969;
                font-size: 13px;
                margin-bottom: 0;
                position: relative;
                padding-left: 30px;
                width: 20%;
                margin-bottom: 15px;
                &:nth-child(3),&:nth-child(6){
                  @media screen and (min-width: 992px){
                    width: 60%;
                  }
                }
                @media screen and (max-width: 991px){
                    width: 50%;
                }
                @media screen and (max-width: 599px){
                  width: 100%;
                }
                &.gr-phone{
                  &:before{
                    content: '';
                    background: url('../images/icons/phone1.svg') no-repeat center;
                    width: 17px;
                    height: 13px;
                    position: absolute;
                    top: 0px;
                    left: 0;
                  }
                }
                &.gr-sex{
                  &:before{
                    content: '';
                    background: url('../images/icons/sex.svg') no-repeat center;
                    width: 17px;
                    height: 13px;
                    position: absolute;
                    top: 2px;
                    left: 0;
                  }
                }
                &.gr-email{
                  &:before{
                    content: '';
                    background: url('../images/icons/email1.svg') no-repeat center;
                    width: 17px;
                    height: 13px;
                    position: absolute;
                    top: 1px;
                    left: 0;
                  }
                }
                &.gr-job{
                  &:before{
                    content: '';
                    background: url('../images/icons/build.svg') no-repeat center;
                    width: 17px;
                    height: 13px;
                    position: absolute;
                    top: 0px;
                    left: 0;
                  }
                }
                &.gr-birthday{
                  &:before{
                    content: '';
                    background: url('../images/icons/calendar1.svg') no-repeat center;
                    width: 17px;
                    height: 13px;
                    position: absolute;
                    top: 1px;
                    left: 0;
                  }
                }
                &.gr-address{
                  &:before{
                    content: '';
                    background: url('../images/icons/location.svg') no-repeat center;
                    width: 17px;
                    height: 13px;
                    position: absolute;
                    top: 2px;
                    left: 0;
                  }
                }
              }
            }

          }
        }
      }
    }
  }
  .left-columns{
    .leftc-name{
      font-size: 14px;
      margin-bottom: 20px;
      a{
        font-weight: bold;
        color: #3c3c3c;
        transition: all .2s ease;
        margin-left: 5px;
        &:hover, &:focus{
          color: #48a7f2;
        }
      }
    }
    .leftc-menu{
      a{
        font-size: 15px;
        color: #3c3c3c;
        transition: all .2s ease;
        padding: 10px 33px;
        display: block;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
        &:hover, &:focus, &.active{
          background: #f0f3f8;
          i.fa-angle-right{
            transform: translateX(0);
          }
        }
        i.fa-angle-right{
          width: 13px;
          height: 15px;
          position: absolute;
          top: 50%;
          margin-top: -8px;
          right: 10px;
          transition: all .2s ease;
          transform: translateX(30px);
        }
        i.fa-address-book, i.fa-file-medical{
          width: 13px;
          height: 15px;
          position: absolute;
          top: 50%;
          margin-top: -8px;
          left: 10px;
        }
      }
    }
  }
  .group-dashed{
    padding: 15px 20px;
    border: 1px dashed #CFD8DC;
    border-radius: 3px;
    background: #fff;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all .2s ease;
    position: relative;
    &:hover, &:focus{
      //background: #CFD8DC;
      border-color: #48a7f2;
      div, i{
        color: #48a7f2 !important;
      }
    }
    div{
      font-size: 14px;
      position: relative;
      display: inline-block;
      transition: all .2s ease;
    }
    &.group-dashed-info{
      i{
        margin-right: 5px;
        transition: all .2s ease;
      }
      div{
        color: #696969;
        //&:before{
        //  content: '';
        //  background: url('../images/logged-step/user+.png') no-repeat center;
        //  width: 20px;
        //  height: 14px;
        //  position: absolute;
        //  top: 0;
        //  left: 10px;
        //}
        &.gdi-book{
          color: #696969;
          //&:before{
          //  background-image: url('../images/logged-step/user+-black.png');
          //}
        }
      }
    }
    &.group-dashed-success{
      padding-right: 30px;
      color: #40b24f;
      border: 1px solid #40b24f;
      cursor: default;
      background: transparent;
      &:hover, &:focus{
        color: #40b24f !important;
        div{
          color: #40b24f !important;
        }
        i{
          color: #40b24f !important;
        }
        background: transparent;
      }
      i{
        margin-right: 5px;
        margin-right: 5px;
      }
      div{
        color: #40b24f;
      }
      .group-dashed-close{
        color: #40b24f;
        position: absolute;
        font-size: 14px;
        top: 15px;
        right: 10px;
        border: none;
        box-shadow: none;
        outline: none;
        background: transparent;
        transition: all .2s ease;
        cursor: pointer;
        //&:hover, &:focus{
        //  color: #3c3c3c;
        //}
      }
    }
  }
}

#section-info-7{
  hr{
    margin-bottom: 30px !important;
  }
  .form-check-label{
    input{
      margin-top: 1px;
    }
  }
  .btn.btn-info{
    margin-top: 30px;
  }
}